<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict><key>picture</key><string>ee_1</string><key>key</key><string>[(微笑)]</string></dict>
    <dict><key>picture</key><string>ee_2</string><key>key</key><string>[(害羞)]</string></dict>
    <dict><key>picture</key><string>ee_3</string><key>key</key><string>[(吐舌头)]</string></dict>
    <dict><key>picture</key><string>ee_4</string><key>key</key><string>[(偷笑)]</string></dict>
    <dict><key>picture</key><string>ee_5</string><key>key</key><string>[(爱慕)]</string></dict>
    <dict><key>picture</key><string>ee_6</string><key>key</key><string>[(大笑)]</string></dict>
    <dict><key>picture</key><string>ee_7</string><key>key</key><string>[(跳舞)]</string></dict>
    <dict><key>picture</key><string>ee_8</string><key>key</key><string>[(飞吻)]</string></dict>
    <dict><key>picture</key><string>ee_9</string><key>key</key><string>[(安慰)]</string></dict>
    <dict><key>picture</key><string>ee_10</string><key>key</key><string>[(抱抱)]</string></dict>
    <dict><key>picture</key><string>ee_11</string><key>key</key><string>[(加油)]</string></dict>
    <dict><key>picture</key><string>ee_12</string><key>key</key><string>[(胜利)]</string></dict>
    <dict><key>picture</key><string>ee_13</string><key>key</key><string>[(强)]</string></dict>
    <dict><key>picture</key><string>ee_14</string><key>key</key><string>[(亲亲)]</string></dict>
    <dict><key>picture</key><string>ee_15</string><key>key</key><string>[(花痴)]</string></dict>
    <dict><key>picture</key><string>ee_16</string><key>key</key><string>[(露齿笑)]</string></dict>
    <dict><key>picture</key><string>ee_17</string><key>key</key><string>[(查找)]</string></dict>
    <dict><key>picture</key><string>ee_18</string><key>key</key><string>[(呼叫)]</string></dict>
    <dict><key>picture</key><string>ee_19</string><key>key</key><string>[(算账)]</string></dict>
    <dict><key>picture</key><string>ee_20</string><key>key</key><string>[(财迷)]</string></dict>
    <dict><key>picture</key><string>ee_21</string><key>key</key><string>[(好主意)]</string></dict>
    <dict><key>picture</key><string>ee_22</string><key>key</key><string>[(鬼脸)]</string></dict>
    <dict><key>picture</key><string>ee_23</string><key>key</key><string>[(天使)]</string></dict>
    <dict><key>picture</key><string>ee_24</string><key>key</key><string>[(再见)]</string></dict>
    <dict><key>picture</key><string>ee_25</string><key>key</key><string>[(流口水)]</string></dict>
    <dict><key>picture</key><string>ee_26</string><key>key</key><string>[(享受)]</string></dict>
    <dict><key>picture</key><string>ee_27</string><key>key</key><string>[(色情狂)]</string></dict>
    <dict><key>picture</key><string>ee_28</string><key>key</key><string>[(呆若木鸡)]</string></dict>
    <dict><key>picture</key><string>ee_29</string><key>key</key><string>[(思考)]</string></dict>
    <dict><key>picture</key><string>ee_30</string><key>key</key><string>[(迷惑)]</string></dict>
    <dict><key>picture</key><string>ee_31</string><key>key</key><string>[(疑问)]</string></dict>
    <dict><key>picture</key><string>ee_32</string><key>key</key><string>[(没钱)]</string></dict>
    <dict><key>picture</key><string>ee_33</string><key>key</key><string>[(无聊)]</string></dict>
    <dict><key>picture</key><string>ee_34</string><key>key</key><string>[(怀疑)]</string></dict>
    <dict><key>picture</key><string>ee_35</string><key>key</key><string>[(嘘)]</string></dict>
    <dict><key>picture</key><string>ee_36</string><key>key</key><string>[(小样)]</string></dict>
    <dict><key>picture</key><string>ee_37</string><key>key</key><string>[(摇头)]</string></dict>
    <dict><key>picture</key><string>ee_38</string><key>key</key><string>[(感冒)]</string></dict>
    <dict><key>picture</key><string>ee_39</string><key>key</key><string>[(尴尬)]</string></dict>
    <dict><key>picture</key><string>ee_40</string><key>key</key><string>[(傻笑)]</string></dict>
    <dict><key>picture</key><string>ee_41</string><key>key</key><string>[(不会吧)]</string></dict>
    <dict><key>picture</key><string>ee_42</string><key>key</key><string>[(无奈)]</string></dict>
    <dict><key>picture</key><string>ee_43</string><key>key</key><string>[(流汗)]</string></dict>
    <dict><key>picture</key><string>ee_44</string><key>key</key><string>[(凄凉)]</string></dict>
    <dict><key>picture</key><string>ee_45</string><key>key</key><string>[(困了)]</string></dict>
    <dict><key>picture</key><string>ee_46</string><key>key</key><string>[(晕)]</string></dict>
    <dict><key>picture</key><string>ee_47</string><key>key</key><string>[(忧伤)]</string></dict>
    <dict><key>picture</key><string>ee_48</string><key>key</key><string>[(委屈)]</string></dict>
    <dict><key>picture</key><string>ee_49</string><key>key</key><string>[(悲泣)]</string></dict>
    <dict><key>picture</key><string>ee_50</string><key>key</key><string>[(大哭)]</string></dict>
    <dict><key>picture</key><string>ee_51</string><key>key</key><string>[(痛哭)]</string></dict>
    <dict><key>picture</key><string>ee_52</string><key>key</key><string>[(I服了U)]</string></dict>
    <dict><key>picture</key><string>ee_53</string><key>key</key><string>[(对不起)]</string></dict>
    <dict><key>picture</key><string>ee_54</string><key>key</key><string>[(不舍)]</string></dict>
    <dict><key>picture</key><string>ee_55</string><key>key</key><string>[(皱眉)]</string></dict>
    <dict><key>picture</key><string>ee_56</string><key>key</key><string>[(好累)]</string></dict>
    <dict><key>picture</key><string>ee_57</string><key>key</key><string>[(生病)]</string></dict>
    <dict><key>picture</key><string>ee_58</string><key>key</key><string>[(吐)]</string></dict>
    <dict><key>picture</key><string>ee_59</string><key>key</key><string>[(背)]</string></dict>
    <dict><key>picture</key><string>ee_60</string><key>key</key><string>[(惊讶)]</string></dict>
    <dict><key>picture</key><string>ee_61</string><key>key</key><string>[(惊愕)]</string></dict>
    <dict><key>picture</key><string>ee_62</string><key>key</key><string>[(闭嘴)]</string></dict>
    <dict><key>picture</key><string>ee_63</string><key>key</key><string>[(欠扁)]</string></dict>
    <dict><key>picture</key><string>ee_64</string><key>key</key><string>[(鄙视你)]</string></dict>
    <dict><key>picture</key><string>ee_65</string><key>key</key><string>[(大怒)]</string></dict>
    <dict><key>picture</key><string>ee_66</string><key>key</key><string>[(生气)]</string></dict>
    <dict><key>picture</key><string>ee_67</string><key>key</key><string>[(财神)]</string></dict>
    <dict><key>picture</key><string>ee_68</string><key>key</key><string>[(学习雷锋)]</string></dict>
    <dict><key>picture</key><string>ee_69</string><key>key</key><string>[(恭喜发财)]</string></dict>
    <dict><key>picture</key><string>ee_70</string><key>key</key><string>[(小二)]</string></dict>
    <dict><key>picture</key><string>ee_71</string><key>key</key><string>[(老大)]</string></dict>
    <dict><key>picture</key><string>ee_72</string><key>key</key><string>[(邪恶)]</string></dict>
    <dict><key>picture</key><string>ee_73</string><key>key</key><string>[(单挑)]</string></dict>
    <dict><key>picture</key><string>ee_74</string><key>key</key><string>[(CS)]</string></dict>
    <dict><key>picture</key><string>ee_75</string><key>key</key><string>[(隐形人)]</string></dict>
    <dict><key>picture</key><string>ee_76</string><key>key</key><string>[(炸弹)]</string></dict>
    <dict><key>picture</key><string>ee_77</string><key>key</key><string>[(惊声尖叫)]</string></dict>
    <dict><key>picture</key><string>ee_78</string><key>key</key><string>[(漂亮MM)]</string></dict>
    <dict><key>picture</key><string>ee_79</string><key>key</key><string>[(帅哥)]</string></dict>
    <dict><key>picture</key><string>ee_80</string><key>key</key><string>[(招财猫)]</string></dict>
    <dict><key>picture</key><string>ee_81</string><key>key</key><string>[(成交)]</string></dict>
    <dict><key>picture</key><string>ee_82</string><key>key</key><string>[(鼓掌)]</string></dict>
    <dict><key>picture</key><string>ee_83</string><key>key</key><string>[(握手)]</string></dict>
    <dict><key>picture</key><string>ee_84</string><key>key</key><string>[(红唇)]</string></dict>
    <dict><key>picture</key><string>ee_85</string><key>key</key><string>[(玫瑰)]</string></dict>
    <dict><key>picture</key><string>ee_86</string><key>key</key><string>[(残花)]</string></dict>
    <dict><key>picture</key><string>ee_87</string><key>key</key><string>[(爱心)]</string></dict>
    <dict><key>picture</key><string>ee_88</string><key>key</key><string>[(心碎)]</string></dict>
    <dict><key>picture</key><string>ee_89</string><key>key</key><string>[(钱)]</string></dict>
    <dict><key>picture</key><string>ee_90</string><key>key</key><string>[(购物)]</string></dict>
    <dict><key>picture</key><string>ee_91</string><key>key</key><string>[(礼物)]</string></dict>
    <dict><key>picture</key><string>ee_92</string><key>key</key><string>[(收邮件)]</string></dict>
    <dict><key>picture</key><string>ee_93</string><key>key</key><string>[(电话)]</string></dict>
    <dict><key>picture</key><string>ee_94</string><key>key</key><string>[(举杯庆祝)]</string></dict>
    <dict><key>picture</key><string>ee_95</string><key>key</key><string>[(时钟)]</string></dict>
    <dict><key>picture</key><string>ee_96</string><key>key</key><string>[(等待)]</string></dict>
    <dict><key>picture</key><string>ee_97</string><key>key</key><string>[(很晚了)]</string></dict>
    <dict><key>picture</key><string>ee_98</string><key>key</key><string>[(飞机)]</string></dict>
    <dict><key>picture</key><string>ee_99</string><key>key</key><string>[(IS智慧平台)]</string></dict>
    <dict><key>picture</key><string>ee_100</string><key>key</key><string>[(学川科技)]</string></dict>
</array>
</plist>
